.newsletter-signup {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    /* Adjust this value as needed */
}

.card-title {
    margin-bottom: 200px;
    text-align: center;
}

.textfield {
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.button-group Butt

.button {
    margin: 10px;
}